.item-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100vh;
}

.item-card {
  display: flex;

  width: 80%;
}

.item-logo {
  width: 300px;
  margin-left: 130px;
}

.details {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  background-color: whitesmoke;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.h {
  font-size: 46px;
  line-height: 2;
}

.p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding-top: 30px;
}
